<!DOCTYPE html>
<html>
  <head>
    <title>NoTrash Revolution</title>
    <description></description>
    <keywords></keywords>
  </head>
  <body>

    <img>
    <h1>NoTrash<br>Revolution</h1>

    <section id="about">
      <article>
        <img src="" title="" alt="">
        <h2>Prenda prinda pronda</h2>
        <p>Lorem ipsum dolor sit amet, baranga naranga formalis, adctis varmilis forensics.</p>
      </article>
      <article>
        <img src="" title="" alt="">
        <h2>Prenda prinda pronda</h2>
        <p>Lorem ipsum dolor sit amet, baranga naranga formalis, adctis varmilis forensics.</p>
      </article>
      <article>
        <img src="" title="" alt="">
        <h2>Prenda prinda pronda</h2>
        <p>Lorem ipsum dolor sit amet, baranga naranga formalis, adctis varmilis forensics.</p>
      </article>
    </section>

    <section>
      <h2>Shout out for products you love</h2>
    </section>
  </body>
</html>
